<html>
<body><h1 style="color:blue;">Welcome in {{ title }}</h1>
    <hr size="2" width="100%" color="red"> 

<h4>assignment 1</h4>
<h2 style="color:Red;">Introduction to Angular demo</h2>
<hr size="2" width="100%" color="red"> 

<h4>this is component dom driective example</h4> 
<button (click)='btnclick()'> click me</button>
<hr size="2" width="100%" color="red"> 

<h4>this is ng if(attribute component) example</h4> 
<div *ngIf='checkngif; else showelsemessage'>This is ngif true example message</div>
<ng-template #showelsemessage>This is ngif false example message</ng-template>
<hr size="2" width="100%" color="red"> 

<h4>this is ng style(attribute component) example</h4> 
<p [ngStyle]="{'color':'red','font-weight':'bold'}">this is style exapmle</p>
<hr size="2" width="100%" color="red"> 

<h4>this is ng Switch example</h4> 
<div [ngSwitch]="switchvalue">
<div *ngSwitchCase="1">Value passed is : 1</div>
<div *ngSwitchCase="2">Value passed is : 2</div>
<div *ngSwitchCase="3">Value passed is : 3</div>
<div *ngSwitchCase="4">Value passed is : 4</div>
<div *ngSwitchDefault>This Default Condition</div>
</div>
<hr size="2" width="100%" color="red"> 







</body>

</html>
<router-outlet></router-outlet>